.divider {
  width: 100%;
}

.info {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.info h4 {
  margin: 0px;
}

.report-sub-page {
  width: 60%;
  height: 80vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quiz-list {
  width: 360px;
}

.quiz-report-header {
  width: 60%;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.report-greeting {
  margin-top: 10px;
}
