.study-header {
  display: flex;
  justify-content: left;
}

.shuffle-quiz {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.study-card {
  width: 75vw;
  height: 50vh;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
}

.study-word {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.study-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  font-size: 1rem;
}

.hint {
  font-size: 1rem;
  text-align: center;
}

.prev-next {
  display: flex;
  justify-content: space-between;
}

.current-index {
  font-size: 0.9rem;
  text-align: left;
}

.dialog {
  width: 30vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: right;
}

.homepage-deck {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-card {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 10vw;
  padding: 10px;
  justify-content: center;
}

.edit-buttons {
  width: 70vw;
  height: 5vw;
  text-align: right;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
