.homepage-button {
  position: relative;
  left: 45%;
  top: 10px;
}

.quiz-sub-page {
  min-width: 100%;
  max-width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.quiz-card {
  width: 60vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 1vh;
}

.quiz-question {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.quiz-sub-question-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
}

.quiz-sub-question-page button {
  margin: 10px;
}

.quiz-header {
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.quiz-subheader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
}

.exit-button:hover {
  cursor: pointer;
}

.dialog {
  padding: 10px;
}

.dialog-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.english-card {
  position: relative;
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.english-card h6 {
  position: absolute;
  margin: 0px;
  top: 5px;
  left: 5px;
}

.spanish-card {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 10px;
}

.spanish-card-content {
  padding: 0px;
}

.spanish-card span {
  position: absolute;
  left: 5px;
}

.spanish-card:hover {
  cursor: pointer;
}

.correct {
  background-color: #34a853;
}
.wrong {
  background-color: #db004f;
}
