.homepage-button {
  position: relative;
  left: 45%;
  top: 10px;
}

.quiz-sub-page {
  min-width: 100%;
  max-width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.quiz-card {
  width: 60vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 1vh;
}

.quiz-question {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.quiz-sub-question-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
}

.quiz-header {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.quiz-subheader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quiz-subheader h3 {
  margin: 10px 0px 10px 0px;
}

.progress-bar {
  width: 100%;
}

.exit-button:hover {
  cursor: pointer;
}

.dialog {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dialog-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 10px;
}

.question-button {
  width: 49%;
  height: 50px;
}

.english-card {
  position: relative;
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.english-card h6 {
  position: absolute;
  margin: 0px;
  top: 5px;
  left: 5px;
}

.spanish-card {
  position: relative;
  width: 60%;
  height: fit-content;
  margin: 10px;
}

.spanish-card span {
  position: absolute;
  left: 5px;
}

.spanish-card:hover {
  cursor: pointer;
}

.mix-and-match-question {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mix-and-match-question-pair {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-bottom: 5px;
}

.mix-and-match-question-card {
  width: 180px;
  margin: 5px;
}
