.nav-margin {
  margin-top: 120px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 30px;
}

.mb-20p {
  margin-bottom: 20px;
}

.mb-10p {
  margin-bottom: 10px;
}

.bottom-border {
  border-bottom: 1px;
  border-bottom-style: solid;
}
