*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  background-blend-mode: multiply;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-name:hover{
  text-decoration: underline;
}