h6:hover {
  color: rgb(57, 57, 187);
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 180%;
  letter-spacing: 1px;
}
.log-in-page-header {
  position: absolute;
  top: 0;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.log-in-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.log-in-img {
  width: 100%;
  width: 50vw;
}

.log-in-form {
  flex-grow: 1;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 540px) {
  .log-in-page-content {
    flex-direction: column;
  }
  .log-in-form {
    padding: 15px;
    width: 250px;
  }
}
@media (min-width: 550px) {
  .log-in-page-content {
    flex-direction: column;
  }

  .log-in-form {
    padding: 20px;
  }
  .form-control {
    width: 250px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .log-in-page-content {
    margin-left: 10vw;
    flex-direction: row;
  }
  .log-in-img {
    padding-top: 15px;
    width: 35vw;
  }
  .log-in-form {
    padding-bottom: 25px;
    margin-left: 2vw;
  }

  h2 {
    font-size: 220%;
  }
  .form-control {
    width: 300px;
    height: 60px;
  }
}
.form-label {
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}
.form-control {
  opacity: 0.5;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #4f6ef7;
  color: #fff;
  border: none;
  cursor: pointer;
}
