#profile-lists {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
  background-color: grey;
  margin-bottom: 50px;
  padding-top: 40px;
}

#profile-lists #profile-lists-tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

#profile-lists #profile-lists-tabs .active-tab {
  background-color: rgb(161, 196, 248);
}

#profile-lists #profile-lists-tabs button {
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: none;
  font-size: 15px;
}

#profile-lists #profile-lists-tabs #top-ten {
  border-right: 1px solid black;
}

#profile-lists #profile-lists-tabs #search-poke {
  width: 60px;
  background-color: rgb(232, 118, 12);
  color: white;
  font-size: 20px;
}
