h1 {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navi-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navi-icon-div {
  margin-right: 10px;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quiz-sub-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.quiz-first-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 1vh;
}
