h1 {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.outlet {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navi-bar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navi-icon-div {
  padding-right: 10px;
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page {
  width: 100vw;
  max-width: 100%;
}

.quiz-sub-page {
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.quiz-card {
  width: 60vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 1vh;
}

.quiz-question {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
