.nav-bar {
  max-width: 1025px;
}

.nav-bar .navbar-brand {
  color: black;
}

.App {
  /* text-align: center; */
  font-size: calc(10px + 2vmin);
  margin: auto;
  margin-top: 56px;

  background-color: grey;
  color: rgb(0, 0, 0);

  min-height: 93svh;
  max-width: 1025px;

  display: grid;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

@media (min-width: 600px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}

.map-container {
  /* height: 50svh; */
  width: 100%;
  background-color: red;
}

.map {
  height: 100%;
  width: 100%;
}

.list-container {
  /* height: 50svh; */
  width: 100%;
  background-color: rgb(107, 98, 98);
  color: white;
}

.temporary-box {
  min-height: 100svh;
  /* max-width: 1025px; */
  font-size: calc(10px + 2vmin);

  color: rgb(255, 255, 255);
  background-color: rgb(137, 179, 137);

  border-width: 1rem;
  border-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
